<strong>Olá, {{ student }}</strong>
<p>Matrícula realizada com sucesso.</p>
<p>
    <strong>Aluno(a): </strong> {{ student }} <br />
    <strong>Plano: </strong> {{ plan }} <br />
    <strong>Data de início: </strong> {{ date }} <br />
    <strong>Valor: </strong> R$ {{ price }} <br>
    <strong>Data de termino: </strong> {{ end }} <br>
    <br />
    <small>
        Bem-vindo(a)!
    </small>
</p>
